@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.headerLink {
  font-size: 18px;
  color: #FFFFFF;
  text-decoration: none;
}

.headerLink:hover {
  text-decoration: underline;
}

.noUnderlineLink {
  text-decoration: none;
  color: #636267;
}

.characteristics
    {
        font-size: 12px;
        color: #7b8293;
        line-height: 16px;
        margin-bottom: 4px;
    }
.valueDiv
  {
        height: 20px;
        font-size: 16px;
        font-weight: 600;
        color: #1f2533;
        line-height: 20px;
        overflow: unset;
  }
  .infoSpans
  {
        height: 20px;
        font-size: 18px;
        font-weight: 600;
        color: #1c1b24;
        line-height: 20px;
  }

  .hoverDivCl {
    cursor: pointer;
    border-radius: 20px;
    left:0;
    width:90%;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }
  .hoverDivCl:hover {
    cursor: pointer;
    background-color: #D9D9D9;
    transition-duration: 0.5s;
    
  }